@model List<SitecoreMarketplace.Foundation.Search.Models.ModuleSearchResult>

<div class="collection__grid">
    @foreach (var item in Model)
    {
        <div class="grid__item">
            <figure>
                <img src="@(item.ImageUrl)" />
            </figure>
            <p>@(item.Title)</p>
            <ul class="rating rating--star">
                @for (var i = 0.0; i <= item.Rating; i += 0.5)
                {
                    var modificator = item.Rating == i ? "star--half" : string.Empty;

                    <li class="star @(modificator)" />
                }
            </ul>
        </div>
    }
</div>