<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="SitecoreMarketplace.Foundation" extends="Foundation.Serialization.Base"
                               description="Common definition items"
                               patch:after="configuration[@name='Foundation.Serialization.Base']">
                    <predicate>
                        <include name="Templates" database="master" path="/sitecore/templates/Foundation">
                            <exclude path="Experience Accelerator" />
                        </include>

                        <include name="Templates.Branches" database="master" path="/sitecore/templates/Branches/Foundation" >
                            <exclude path="Experience Accelerator" />
                        </include>

                        <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Foundation">
                            <exclude path="Experience Accelerator" />
                        </include>

                        <include name="Layout.Renderings" database="master" path="/sitecore/layout/Renderings/Foundation">
                            <exclude path="Experience Accelerator" />
                        </include>

                        <include name="Layout.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Foundation">
                            <exclude path="Experience Accelerator" />
                        </include>

                        <include name="System.Settings" database="master" path="/sitecore/system/Settings/Foundation">
                            <exclude path="Experience Accelerator" />
                        </include>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>