<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.SitecoreMarketplace" extends="Foundation.Serialization.Base"
                               description="Feature SitecoreMarketplace definition items."
                               patch:after="configuration[@name='Foundation.SitecoreMarketplace']">
                    <predicate>
                        <include name="Templates" database="master" path="/sitecore/templates/Feature" >
                            <exclude path="Experience Accelerator" />
                            <exclude path="JSS Experience Accelerator" />
                        </include>

                        <include name="Templates.Branches" database="master" path="/sitecore/templates/Branches/Feature">
                            <exclude path="Experience Accelerator" />
                            <exclude path="JSS Experience Accelerator" />
                        </include>

                        <include name="Layout.Renderings" database="master" path="/sitecore/layout/Renderings/Feature" >
                            <exclude path="Experience Accelerator" />
                            <exclude path="JSS Experience Accelerator" />
                        </include>

                        <include name="Layout.PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Feature">
                            <exclude path="Experience Accelerator" />
                            <exclude path="JSS Experience Accelerator" />
                        </include>

                        <include name="System.Settings" database="master" path="/sitecore/system/Settings/Feature">
                            <exclude path="Experience Accelerator" />
                            <exclude path="JSS Experience Accelerator" />
                        </include>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>